<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间，绑定一个mapper接口-->
<mapper namespace="top.novashen.mapper.UserMapper">
    <!--查询所有用户-->
    <select id="getAllUser" resultType="top.novashen.pojo.User">
        select * from user
    </select>

</mapper>